.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 1px 1px;
  grid-template-areas: "header header header header" ". login login ." ". . . ." ". . . .";
}

.header { 
  grid-area: header; 
  text-align: center;
}

.login { grid-area: login; }
